    p {
        font-size: 0.95rem;
        line-height: 1.7;
    } 
     
header {
    h1 {
        font-size: 2.5rem;
        margin-top: 30px;
        margin-bottom: 20px;
    }
.heroAbout {
    background-image: url("../assets/about/mobile/image-hero.jpg");
    background-size: cover;
    height: 240px;
background-repeat: no-repeat;
position: relative;
}
.heroAbout::after {
    position: absolute;
    background-color: white;
    width: 90%;
    height: 41px;
    content: "";
    bottom: 0;
}
.team {
    position: relative;
    color: black;
    text-align: left;
    margin: auto;
    width: 311px;
}
.team::after {
    position: absolute;
    width: 80px;
    height: 2px;
    bottom: -30px;
    content: "";
    background-color: black;
}

}

.aboutContainer {
    width: 311px;
    margin: auto;
    color: black;
  
   
    .heritage {
        margin-top: 80px;
        p {
            margin-bottom: 20px;
        }
        h2 {
            margin-bottom: 20px;
        }
    }

    .leaderList {
        margin-bottom: 40px;
        .details {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        picture img {
            display: block;
            width: 100%;
            margin: auto;
        }
        .social img {
            margin-right: 20px;
        }
    }

    .leaders h3 {
        font-size: 3rem;
        margin-top: 45px;
        margin-bottom: 45px;
    }
   
}


/*Tablet section */
    @media only screen and (min-width: 720px) { 
        header::after {           
            top: 152px;            
            left: 3px;
        }
        .heroAbout {
            background-image: url(../assets/about/tablet/image-hero.jpg);   
            width: 573px;
             margin: auto;
             height: 720px;                 
        }
        .heroAbout::after {               
            height: 410px;               
            bottom: 0;
            right: 0;
        }     

      }
