header .heroAbout {
  background-image: url(../assets/contact/mobile/image-hero.jpg);
}

header::after {
  content: "CONTACT";
  top: 240px;
  left: -40px;
}

main .offices h2 {
  width: 90%;
}

main address.office1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

main .office1 h3,
main .office2 h3 {
  margin-bottom: 20px;
}

.mainContainer {
  width: 100%;
}

.mainContainer .primaryContainer .offices {
  width: 311px;
  margin: auto;
}

.mainContainer div#map {
  margin: auto;
  margin-top: 50px;
  width: 400px;
  height: 300px;
}

.mainContainer .offices a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.mainContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  padding-top: 30px;
}

.mainContainer .contactUs {
  width: 311px;
  margin: 63px auto 0;
}

.mainContainer input[type="text"],
.mainContainer input[type="email"],
.mainContainer textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 15px 25px;
}

.mainContainer label.contactDetails {
  position: relative;
}

.mainContainer label.contactDetails span.contactMe {
  position: absolute;
  visibility: hidden;
}

.mainContainer .submitDetails {
  background: #1b1d23;
  color: white;
  width: 50px;
  padding: 12px;
  position: absolute;
  bottom: -44px;
  right: 60px;
}

.mainContainer .submitDetails img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

/*Tablet section */
@media only screen and (min-width: 720px) {
  header .heroAbout::before {
    content: "Contact";
  }
  .mainContainer .primaryContainer .offices {
    width: 100%;
  }
  .mainContainer address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainContainer div#map {
    margin: auto;
    width: 90%;
  }
}

@media only screen and (min-width: 1280px) {
  main .mainContainer .primaryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .mainContainer .contactUs {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .offices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .offices h2 {
    width: 30%;
  }
  main .officeList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  main address.office1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  main address.office2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
/*# sourceMappingURL=contact.css.map */