header {
    .heroAbout {
        background-image: url(../assets/contact/mobile/image-hero.jpg);
    }
}

header::after {
    content: "CONTACT";
    top: 240px;
    left: -40px;

}

a {
    color: #1f1f20;
    font-weight: 900;
}

main {
    .offices h2 {
        width: 90%;
    }

    address.office1 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .office1 h3,
    .office2 h3 {
        margin-bottom: 20px;
    }
}

.mainContainer {
    width: 100%;

    .primaryContainer .offices {
        width: 311px;
        margin: auto;
    }

    div#map {
        margin: auto;
        margin-top: 50px;
        width: 400px;
        height: 300px;
    }

    .offices a {
        display: flex;
        column-gap: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        padding-top: 30px;
    }

    .contactUs {
        width: 311px;
        margin: 63px auto 0;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 15px 25px;
        resize: none; //remove the resize marks on the bottom right of textarea
        width: 100%;
    }

    label.contactDetails {
        position: relative;

        span.contactMe {
            position: absolute;
            visibility: hidden;
        }
    }

    .submitDetails {
        background: #1b1d23;
        color: white;
        width: 50px;
        padding: 12px;
        position: absolute;
        bottom: -44px;
        right: 45px;

        img {
            filter: invert(1);
        }
    }
}

/*Tablet section */
@media only screen and (min-width: 720px) {
    header {
        .heroAbout::before {
            content: "Contact";
        }
    }

    .mainContainer {
        .primaryContainer .offices {
            width: 100%;
        }

        address {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        div#map {
            margin: auto;
            width: 90%;
        }

    }

}

//Desktop section
@media only screen and (min-width: 1280px) {
    .mainContainer {
        div#map {
            margin: 100px 0;
            width: 100%;
            height: 560px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
        }

        .submitDetails {
            right: 0px;
        }
    }

    main {
        .mainContainer .primaryContainer {
            flex-direction: column;
        }

        .mainContainer .contactUs {
            width: 100%;
            display: flex;
            justify-content: space-between;

            h3 {
                margin-top: 50px;
                font-size: 3rem;
                width: 28%;
            }
        }

        .offices {
            display: flex;
        }

        .offices h2 {
            width: 30%;
        }

        .officeList {
            display: flex;
            width: 100%;
        }

        address.office1 {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 0px;
            margin-bottom: 0px;
            align-items: flex-start;
            margin-left: 90px;
        }

        address.office2 {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
            margin-left: 90px;
        }

        form {
            width: 50%;
        }

    }

}