figure {
    position: relative;
}
figcaption {
    position: relative;
    top: -80px;
    left: 80px;
}
figcaption h2 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.portfolioImg img {
    margin: auto;
    display: block;
    width: 78%;
    height: auto;
}
span.dated {
    font-weight: 100;
}
.portfolioImageContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 65px;
}

/*Tablet section */
@media only screen and (min-width: 720px) {   
    header::after {     
        content: "PORTFOLIO";
        top: 255px;
    left: -65px;
    letter-spacing: 1rem;      
    }
    figcaption {       
        left: 15%;
    }
    main {
        top: 0px;
        margin-bottom: 0px;
    }
   

}

//Desktop section
@media only screen and (min-width: 1280px) {
    .portfolioImageContainer {       
        flex-direction: row;
        flex-wrap: wrap;       
        justify-content: center;
    }
    figure.portfolioImg {
        width: 30vw;
    }
    header::after {
        left: -60px;
    }
    figcaption {       
        left: 80px;
    }
    .portfolioImg img {   
    height: 560px;
    }
}