* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  color: white;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  width: 311px;
}

.hero {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 106px;
  background-image: url("../assets/home/mobile/image-hero-paramour.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  position: relative;
}

.modal {
  width: 100%;
  position: absolute;
  top: 0;
  background: #d4d5c6;
  padding-top: 50px;
  padding-bottom: 50px;
}

main {
  position: relative;
}

.aboutus {
  position: absolute;
}

h1 {
  /* word-break: break-word; 
    width: 60%; */
  padding-bottom: 5px;
  font-size: 3rem;
}

.hero p {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.6rem;
}

.portfolio {
  background: black;
  width: 252px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

ul {
  list-style: none;
  padding: 20px;
  color: black;
  font-weight: 900;
  font-size: 1.4rem;
}

li {
  padding-bottom: 30px;
}

.menuCtrl {
  position: relative;
}

.closemenu {
  position: absolute;
  left: 0;
}

.hide {
  visibility: hidden;
}

.navMenu svg:first-child {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

/* Welcome section */
.welcome {
  color: black;
}

.welcomeContainer {
  width: 311px;
  margin: 72px auto;
  padding-top: 72px;
  position: relative;
}

.welcomeContainer::before {
  position: absolute;
  content: "";
  top: 0;
  width: 65px;
  height: 1px;
  background: #1a1818;
}

h2 {
  font-size: 2.3rem;
  font-weight: 900;
}

.welcomeSecondary {
  padding-top: 20px;
}

.welcomeSecondary p {
  margin-bottom: 30px;
}

.aboutTeams {
  background: url("../assets/home/mobile/image-small-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 180px;
}

.aboutTeamsContainer {
  width: 311px;
  margin: auto;
}

.aboutTeamsContainer h3 {
  padding-top: 180px;
  font-size: 2.3rem;
}

.aboutTeamsContainer .portfolio {
  margin-top: 20px;
  width: 200px;
}

.delsol {
  background-image: url("../assets/portfolio/mobile/image-del-sol.jpg");
}

.tower {
  background-image: url("../assets/portfolio/mobile/image-228b.jpg");
}

.prototype {
  background-image: url("../assets/portfolio/mobile/image-prototype.jpg");
}

.featured h4 {
  color: black;
  font-size: 2rem;
  margin-bottom: 30px;
}

.featureContainer {
  width: 311px;
  margin: auto;
  padding-top: 50px;
}

.featImg {
  padding-top: 159px;
  padding-bottom: 32px;
  margin-bottom: 20px;
  padding-left: 32px;
  font-size: 1.3rem;
  font-weight: 900;
}

.featureContainer .portfolio {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

footer {
  width: 100%;
  position: relative;
}

.portfolioFooter {
  background-color: #c8ccd8;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 70px;
}

.footerContainer {
  position: relative;
}

.footerLogo {
  position: relative;
  bottom: -60px;
  background-color: black;
  width: 120px;
  height: 120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.footerLogo svg path {
  fill: white;
}

.portfolioContainer {
  background-color: #c8ccd8;
}
/*# sourceMappingURL=style.css.map */