figure {
  position: relative;
}

figcaption {
  position: relative;
  top: -80px;
  left: 80px;
}

figcaption h2 {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.portfolioImg img {
  margin: auto;
  display: block;
  width: 78%;
  height: auto;
}

span.dated {
  font-weight: 100;
}

.portfolioImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-top: 65px;
}

/*Tablet section */
@media only screen and (min-width: 720px) {
  header::after {
    content: "PORTFOLIO";
    top: 255px;
    left: -65px;
    letter-spacing: 1rem;
  }
  figcaption {
    left: 15%;
  }
  main {
    top: 0px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1280px) {
  .portfolioImageContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  figure.portfolioImg {
    width: 30vw;
  }
  header::after {
    left: -60px;
  }
  figcaption {
    left: 80px;
  }
  .portfolioImg img {
    height: 560px;
  }
}

header .heroAbout {
  background-image: url(../assets/contact/mobile/image-hero.jpg);
}

header::after {
  content: "CONTACT";
  top: 240px;
  left: -40px;
}

a {
  color: #1f1f20;
  font-weight: 900;
}

main .offices h2 {
  width: 90%;
}

main address.office1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

main .office1 h3,
main .office2 h3 {
  margin-bottom: 20px;
}

.mainContainer {
  width: 100%;
}

.mainContainer .primaryContainer .offices {
  width: 311px;
  margin: auto;
}

.mainContainer div#map {
  margin: auto;
  margin-top: 50px;
  width: 400px;
  height: 300px;
}

.mainContainer .offices a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.mainContainer form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  padding-top: 30px;
}

.mainContainer .contactUs {
  width: 311px;
  margin: 63px auto 0;
}

.mainContainer input[type="text"],
.mainContainer input[type="email"],
.mainContainer textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 15px 25px;
  resize: none;
  width: 100%;
}

.mainContainer label.contactDetails {
  position: relative;
}

.mainContainer label.contactDetails span.contactMe {
  position: absolute;
  visibility: hidden;
}

.mainContainer .submitDetails {
  background: #1b1d23;
  color: white;
  width: 50px;
  padding: 12px;
  position: absolute;
  bottom: -44px;
  right: 0;
}

.mainContainer .submitDetails img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

/*Tablet section */
@media only screen and (min-width: 720px) {
  header .heroAbout::before {
    content: "Contact";
  }
  .mainContainer .primaryContainer .offices {
    width: 100%;
  }
  .mainContainer address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainContainer div#map {
    width: 100%;
    height: 560px;
    margin: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .mainContainer div#map {
    margin: 100px 0;
    width: 100%;
    height: 560px;
  }
  .mainContainer input[type="text"],
  .mainContainer input[type="email"],
  .mainContainer textarea {
    width: 100%;
  }
  .mainContainer .submitDetails {
    right: 0px;
  }
  main .mainContainer .primaryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .mainContainer .contactUs {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .mainContainer .contactUs h3 {
    margin-top: 50px;
    font-size: 3rem;
    width: 28%;
  }
  main .offices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .offices h2 {
    width: 30%;
  }
  main .officeList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  main address.office1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 90px;
  }
  main address.office2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 90px;
  }
  main form {
    width: 50%;
  }
}

p {
  font-size: 0.95rem;
  line-height: 1.7;
}

header h1 {
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

header .heroAbout {
  background-image: url("../assets/about/mobile/image-hero.jpg");
  background-size: cover;
  height: 240px;
  background-repeat: no-repeat;
  position: relative;
}

header .heroAbout::after {
  position: absolute;
  background-color: white;
  width: 90%;
  height: 41px;
  content: "";
  bottom: 0;
}

header .team {
  position: relative;
  color: black;
  text-align: left;
  margin: auto;
  width: 311px;
}

.mainContainer {
  width: 311px;
  margin: auto;
  color: black;
}

.mainContainer .primaryContainerImgContainer {
  display: none;
}

.mainContainer .primaryContainer {
  margin-top: 80px;
  position: relative;
}

.mainContainer .primaryContainer p {
  margin-bottom: 20px;
}

.mainContainer .primaryContainer h2 {
  margin-bottom: 20px;
}

.mainContainer .leaderList {
  margin-bottom: 40px;
}

.mainContainer .leaderList .details {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.mainContainer .leaderList picture img {
  display: block;
  width: 100%;
  margin: auto;
}

.mainContainer .leaderList .social img {
  margin-right: 20px;
}

.mainContainer .leaderList .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
          column-gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContainer .leaders h3 {
  font-size: 3rem;
  margin-top: 45px;
  margin-bottom: 45px;
}

/*Tablet section */
@media only screen and (min-width: 720px) {
  header::after {
    top: 205px;
    left: -48px;
    content: "ABOUT US";
  }
  .team::before {
    position: absolute;
    width: 80px;
    height: 2px;
    top: -80px;
    content: "";
    background-color: black;
  }
  header .team {
    width: 572px;
    left: 90px;
    top: -256px;
  }
  header .team p {
    width: 82%;
  }
  header .heroAbout {
    background-image: url(../assets/about/tablet/image-hero.jpg);
    width: 573px;
    margin: auto;
    height: 720px;
  }
  header .heroAbout::after {
    height: 410px;
    bottom: 0;
    right: 0;
    outline: auto;
  }
  header .heroAbout::before {
    content: "About";
    position: absolute;
    top: 36%;
    font-size: 5rem;
    color: #EEEFF4;
    z-index: 1;
    left: 50%;
    font-weight: 900;
  }
  header .teamHeroContainer {
    position: relative;
  }
  main {
    top: -110px;
    margin-bottom: -110px;
  }
  main .mainContainer {
    width: 574px;
  }
  main .mainContainer .primaryContainer::before {
    position: absolute;
    width: 80px;
    height: 2px;
    content: "";
    background-color: black;
    left: 0px;
    top: -80px;
  }
  main p {
    font-size: 0.9rem;
  }
  main .leaderBoard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .leaderList {
    width: 280px;
  }
  main .leaders {
    padding-top: 75px;
  }
}

@media only screen and (min-width: 1280px) {
  header .teamHeroContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: auto 150px;
  }
  header .heroAbout::after {
    left: 78%;
    height: 520px;
    bottom: -2px;
    right: 0;
  }
  header .heroAbout::before {
    font-size: 10rem;
    left: 78%;
    top: 16%;
  }
  header .team {
    width: 572px;
    left: -10px;
    top: 242px;
  }
  main .leaders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .mainContainer {
    width: 77%;
    padding-top: 200px;
  }
  main .mainContainer .primaryContainerImgContainer {
    display: block;
  }
  main .mainContainer .primaryContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .mainContainer .primaryContainerDetails {
    padding-top: 85px;
    width: 37%;
  }
  main .mainContainer .leaders h3 {
    width: 25%;
  }
  main .leaderList {
    width: 350px;
  }
  main .leaderList .details {
    position: relative;
  }
  main .leaderBoard {
    width: 730px;
  }
  main .social {
    visibility: hidden;
    position: absolute;
    top: -219px;
    left: 128px;
  }
  main .social svg path {
    fill: white;
  }
  main .profileImg:hover + .details .social {
    visibility: visible;
  }
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  width: 78%;
}

.hero {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 106px;
  background-image: url("../assets/home/mobile/image-hero-paramour.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  position: relative;
}

.modal {
  width: 86%;
  position: absolute;
  top: 104px;
  background: #d4d5c6;
  padding-top: 14px;
  padding-bottom: 14px;
  z-index: 1;
  margin-right: 0;
  right: 0;
}

main {
  position: relative;
}

.aboutus {
  position: absolute;
}

h1 {
  /* word-break: break-word; 
    width: 60%; */
  padding-bottom: 5px;
  font-size: 3rem;
}

.hero p {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.6rem;
}

.portfolio {
  background: #1b1d23;
  width: 252px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.portfolio:hover {
  background: #60636d;
}

.portfolio:active {
  background: #c8ccd8;
}

.portfolio img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

ul {
  width: 100px;
  list-style: none;
  padding: 10px;
  margin: auto;
  color: black;
  font-weight: 900;
  font-size: 1.4rem;
}

li {
  padding-bottom: 30px;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #7D828F;
}

.menuCtrl {
  position: relative;
}

.closemenu {
  position: absolute;
  left: 0;
}

.hide {
  visibility: hidden;
}

.navMenu svg:first-child {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

/* Welcome section */
.welcome {
  color: black;
}

.welcomeContainer {
  width: 311px;
  margin: 72px auto;
  padding-top: 72px;
  position: relative;
}

.welcomeContainer::before {
  position: absolute;
  content: "";
  top: 0;
  width: 65px;
  height: 1px;
  background: #1a1818;
}

h2 {
  font-size: 2.3rem;
  font-weight: 900;
}

.welcomeSecondary {
  padding-top: 20px;
}

.welcomeSecondary p {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.welcomeImg {
  display: none;
}

.aboutTeams {
  background: url("../assets/home/mobile/image-small-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 180px;
}

.aboutTeamsContainer {
  width: 311px;
  margin: auto;
}

.aboutTeamsContainer h3 {
  padding-top: 180px;
  font-size: 2.3rem;
}

.aboutTeamsContainer .portfolio {
  margin-top: 20px;
  width: 200px;
}

.delsol {
  background-image: url("../assets/portfolio/mobile/image-del-sol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.tower {
  background-image: url("../assets/portfolio/mobile/image-228b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.prototype {
  background-image: url("../assets/portfolio/mobile/image-prototype.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.featured h4 {
  color: black;
  font-size: 2rem;
  margin-bottom: 30px;
}

.featureContainer {
  width: 311px;
  margin: auto;
  padding-top: 50px;
}

.featImg {
  padding-top: 159px;
  padding-bottom: 32px;
  margin-bottom: 20px;
  padding-left: 32px;
  font-size: 1.3rem;
  font-weight: 900;
}

.featureContainer .portfolio {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

footer {
  width: 100%;
  position: relative;
  padding-top: 100px;
}

.footerContainer {
  background: #EEEFF4;
  padding-bottom: 50px;
}

.portfolioFooter {
  text-align: center;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerLogo {
  position: relative;
  top: -60px;
  background-color: black;
  width: 120px;
  height: 120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.footerLogo svg path {
  fill: white;
}

.numSection {
  display: none;
}

li:hover {
  color: #1b1d23;
  cursor: pointer;
}

/*Tablet section */
@media only screen and (min-width: 720px) {
  main {
    top: 0px;
    margin-bottom: 0px;
  }
  .hero {
    width: 573px;
    margin: auto;
    background-image: url(../assets/home/tablet/image-hero-paramour.jpg);
  }
  .modal {
    width: 100%;
    top: 0px;
    visibility: visible;
    padding-top: 5px;
    padding-bottom: 32px;
    background: inherit;
  }
  .modal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 85%;
    margin: auto 60px;
  }
  .modal li {
    padding-bottom: 0;
  }
  .menuCtrl {
    visibility: hidden;
  }
  nav {
    position: relative;
    width: 59%;
    margin: 56px auto;
  }
  .navMenu {
    margin-left: -45px;
  }
  h1 {
    padding-right: 50px;
  }
  h2 {
    width: 50%;
  }
  header::before {
    position: absolute;
    content: "";
    width: 65px;
    height: 1px;
    background-color: black;
    top: 31px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 29px;
  }
  header::after {
    position: absolute;
    content: "HOME";
    color: black;
    top: 200px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 7px;
  }
  .welcomeContainer {
    width: 573px;
  }
  .welcomeContainer::before {
    content: "Welcome";
    top: 0;
    width: 65px;
    font-size: 4rem;
    font-weight: 900;
    color: #c8ccd8;
    background: transparent;
  }
  .aboutTeams {
    width: 573px;
    margin: auto;
    background: url("../assets/home/tablet/image-small-team.jpg");
  }
  .featureContainer {
    position: relative;
    width: 573px;
  }
  .featureContainer .portfolio {
    position: absolute;
    width: 32%;
    top: 25px;
    right: 0;
  }
  .featImg::after {
    position: absolute;
    right: 0;
    top: 14%;
    font-size: 13rem;
  }
  .tower, .prototype {
    position: relative;
  }
  .delsol {
    background-image: url("../assets/portfolio/tablet/image-del-sol.jpg");
  }
  .tower {
    background-image: url("../assets/portfolio/tablet/image-228b.jpg");
  }
  .prototype {
    background-image: url("../assets/portfolio/tablet/image-prototype.jpg");
  }
  .delsol::after {
    content: "1";
  }
  .tower::after {
    content: "2";
  }
  .prototype::after {
    content: "3";
  }
  .footerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    padding-bottom: 0;
  }
  .footerLogo {
    top: 0;
    margin: 0;
  }
  .mainFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .portfolioFooter {
    width: 82%;
    padding: 0;
  }
  .portfolioFooter ul {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
    margin-left: 0;
  }
  .portfolioFooter li {
    padding-top: 42px;
  }
  .portBottom {
    padding: 24px;
    position: absolute;
    right: 0%;
    top: 60%;
  }
  .nums:hover {
    background: grey;
  }
  .nums:active {
    background-color: #1b1d23;
  }
  label {
    -webkit-user-select: select none;
       -moz-user-select: select none;
        -ms-user-select: select none;
            user-select: select none;
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    position: relative;
    width: 1110px;
    background-image: url(../assets/home/desktop/image-hero-paramour.jpg);
  }
  nav {
    margin-left: 260px;
  }
  .modal ul {
    width: 40%;
    margin: auto 0px;
  }
  h1 {
    width: 90%;
  }
  .hero p {
    width: 45%;
  }
  .heroSlide1 {
    padding-top: 127px;
    padding-bottom: 126px;
  }
  .heroSlide1 .portfolio {
    margin-left: 0px;
  }
  .welcomeImg {
    display: block;
    margin-top: 130px;
  }
  .welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1110px;
    margin: auto;
    padding-top: 50px;
  }
  .welcomeContainer {
    margin: 30px auto;
    padding-top: 210px;
  }
  .welcomeSecondary p {
    margin-right: 121px;
  }
  .welcomeContainer::before {
    font-size: 13rem;
    margin-left: -140px;
  }
  .numSection {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: -70px;
    background: white;
    color: black;
  }
  .activeSection {
    background: #1b1d23;
    color: white;
  }
  .nums {
    padding: 25px;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  header::before {
    left: 40px;
  }
  header::after {
    left: 20px;
  }
  .navMenu {
    margin-left: -86px;
  }
  .aboutTeams {
    width: 1110px;
    background: url("../assets/home/desktop/image-small-team.jpg");
  }
  .featureContainer {
    width: 1110px;
  }
  .featureImageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .featImg {
    width: 350px;
    padding-bottom: 131px;
  }
  .delsol::after {
    left: 235px;
  }
  .featImg::after {
    position: relative;
    right: -205px;
    top: -200px;
    font-size: 9rem;
  }
  .featImg h5, .featImg p {
    position: relative;
    top: 272px;
  }
  .featImg p {
    font-weight: 100;
    font-size: 1rem;
    margin-top: 10px;
  }
  .delsol {
    background-image: url("../assets/portfolio/desktop/image-del-sol.jpg");
    background-size: 100% 100%;
  }
  .tower {
    background-image: url("../assets/portfolio/desktop/image-228b.jpg");
    background-size: 100% 100%;
  }
  .prototype {
    background-image: url("../assets/portfolio/desktop/image-prototype.jpg");
    background-size: 100% 100%;
  }
  .footerLogo {
    width: 260px;
    height: 200px;
  }
  .footerContainer {
    width: 1110px;
    margin: auto;
    position: relative;
  }
  .footerContainer::after {
    position: absolute;
    content: "";
    width: 126px;
    background-color: white;
    right: 0;
    height: 200px;
  }
  .portBottom {
    position: relative;
    right: 0%;
    z-index: 1;
  }
  .portfolio {
    width: 327px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  color: white;
}
/*# sourceMappingURL=style.css.map */