*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Spartan', sans-serif;
}
.navMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    margin-left: 32px;
    width: 311px;    
}
.hero {
    background-image: url("/assets/home/mobile/image-hero-paramour.jpg");
    background-repeat: no-repeat;
  }
  main {
      position: relative;
  }
  .aboutus {
    position: absolute;
}