*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Spartan', sans-serif;
    color: white;
}
.navMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    width: 78% /*311px; for mobile viewport 375px */   
}
.hero {
    padding-right: 32px; 
    padding-left: 32px;
    padding-top: 106px;
    background-image: url("../assets/home/mobile/image-hero-paramour.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 100px;  
    position: relative;
  }
  .modal {
    width: 86%;
    position: absolute;
    top: 104px;
    background: #d4d5c6;
    padding-top: 14px;
    padding-bottom: 14px;
    z-index: 1;
    margin-right: 0;
    right: 0;  
}
  main {
      position: relative;
  }
  .aboutus {
    position: absolute;
}
h1 {
    /* word-break: break-word; 
    width: 60%; */
    padding-bottom: 5px;
    font-size: 3rem;
}

.hero p {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.6rem;
}
.portfolio {
    background: rgb(27, 29, 35);
    width: 252px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.portfolio img {
    filter: invert(1);
}
ul {
    width: 70%;
    list-style: none;
    padding: 10px;
    margin: auto;
    color: black;
    font-weight: 900;
    font-size: 1.4rem;
}
li {
    padding-bottom: 30px;
    font-size: 18px;
}
.menuCtrl {
    position: relative;
}
.closemenu {
    position: absolute;   
    left: 0;
}
.hide {
   visibility: hidden;
}
.navMenu svg:first-child {
    transform: scale(0.75);
}

/* Welcome section */
.welcome {   
    color: black;   
}
.welcomeContainer {
    width: 311px;
    margin: 72px auto;
    padding-top: 72px;
    position: relative;
}
.welcomeContainer::before {
    position: absolute;
    content: "";
    top: 0;
    width: 65px;
    height: 1px;
    background: #1a1818;
}
h2 {
    font-size: 2.3rem;
    font-weight: 900;
}
.welcomeSecondary {
    padding-top: 20px;
}
.welcomeSecondary p {    
    margin-bottom: 30px;
}
.aboutTeams {
    background: url("../assets/home/mobile/image-small-team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 180px;
}
.aboutTeamsContainer {    
    width: 311px;
    margin: auto;
}
.aboutTeamsContainer h3 {
    padding-top: 180px;
    font-size: 2.3rem;   
}
.aboutTeamsContainer .portfolio{
    margin-top: 20px;
   width: 200px;
}
.delsol {
    background-image: url("../assets/portfolio/mobile/image-del-sol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.tower {
background-image: url("../assets/portfolio/mobile/image-228b.jpg");
background-repeat: no-repeat;
    background-size: cover;
}
.prototype {
    background-image: url("../assets/portfolio/mobile/image-prototype.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.featured h4 {
    color: black;
    font-size: 2rem;
    margin-bottom: 30px;
}
.featureContainer {
    width: 311px;
    margin: auto;
    padding-top: 50px;
}
.featImg {
    padding-top: 159px;
    padding-bottom: 32px;
    margin-bottom: 20px;
    padding-left: 32px;
    font-size: 1.3rem;
    font-weight: 900;
}
.featureContainer .portfolio {
    width: 100%;
    justify-content: center;
    column-gap: 20px;
}

footer {    
    width: 100%;   
    position: relative;   
}
.portfolioFooter  {
    background-color: rgb(200, 204, 216);
    padding: 20px;    
    display: flex;   
    justify-content: space-around;
    padding-top: 70px;
}
.footerContainer {
    position: relative;
}
.footerLogo {
    position: relative;
    bottom: -60px;
    background-color: black;
    width: 120px;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.footerLogo svg path {
    fill: white;
}
.portfolioContainer {
    background-color: rgb(200, 204, 216);
    padding: 40px 0;
}

/*Tablet section */
@media only screen and (min-width: 720px) {
.hero {
    width: 573px;
    margin: auto;
    background-image: url(../assets/home/tablet/image-hero-paramour.jpg);
}
.modal {
    width: 80%;
    top: 0;
    visibility: visible;
    padding-top: 32px;
    padding-bottom: 32px;
    background: inherit;
 }
.modal ul {
    display: flex;
    justify-content: space-evenly;
    width: 58%;
    margin: auto 60px;
}
.modal li {    
         padding-bottom: 0;     
}
.menuCtrl {
    visibility: hidden;
}
nav {
    width: 59%;
    margin: auto;
}
.navMenu {
    margin-left: -45px;
}
h1 {
   
    padding-right: 50px;
   
}

header::before {  
    position: absolute;
    content: "";
    width: 65px;
    height: 1px;
    background-color: black;
    top: 31px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 29px;
}
header::after {  
    position: absolute;
    content: "home";      
    color: black;
    top: 117px;
    transform: rotate(90deg);
    left: 40px;
}
.welcomeContainer::before {    
    content: "Welcome";
    top: 0;
    width: 65px;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(200, 204, 216);   
    background: transparent;
}

.aboutTeams {
    width: 573px;
    margin: auto;
}

.featureContainer {
    position: relative;
    width: 573px;   
}

.featureContainer .portfolio {
    position: absolute;
    width: 32%;
    top: 25px;
    right: 0;   
}


}
